[2018-12-23 15:56] gavanderhoorn opened #1 "Transfer repository to rosin-project org?"
@ipa-jfh: we're (@itualami, @nlimpert, @droter and I) trying to continue the work wrt haros and the ROS buildfarm.

In that context, would you be ok with transferring this repository to [rosin-project](https://github.com/rosin-project)?

[2018-12-23 15:56] gavanderhoorn commented on #1
And the same for [haros_catkin_test](https://github.com/ipa-jfh/haros_catkin_test) of course.

[2019-01-15 20:41] Chamango90 commented on #1
Hi @gavanderhoorn my apologies for the late reply. Yes I would be ok with that.

[2019-03-25 14:41] gavanderhoorn commented on #1
@ipa-jfh: could you initiate the migration then? It'd be easiest if you first migrate it to my personal account. Afterwards I'll migrate it to `rosin-project`.

[2019-03-31 22:24] Chamango90 commented on #1
Sorry for the late reply again. I tried to transfer it to you, however

Could you delete/rename your fork?

[2019-04-01 06:02] gavanderhoorn commented on #1
Done.

[2019-04-01 07:55] Chamango90 commented on #1
The renaming was not enough since it is a fork of my repo.

[2019-04-01 08:03] gavanderhoorn commented on #1
Hm.

Just deleted my fork.

[2019-04-01 08:43] gavanderhoorn commented on #1
Thanks for the transfer @ipa-jfh :+1:

And thanks for the work on `haros_catkin`.

[2019-04-01 08:43] #1 closed

[2019-04-22 13:51] gavanderhoorn opened #5 "make report output location configurable"
The `haros_report` macro should be extended to make the location to which the haros output will be written configurable using some argument.

Perhaps a `REPORT_DESTINATION` named argument.

[2019-04-22 13:54] gavanderhoorn opened #6 "Run 'haros init' in the build dir (instead of $HOME)"
[Current implementation](https://github.com/rosin-project/haros_catkin/blob/735a6c6316d9b72754085bc30739accad673354f/cmake/haros_catkin-extras.cmake.em#L22) appears to run `haros init` without any special configuration, which would place all haros configuration and plugin meta-data in `$HOME` of the current user.

Perhaps OK for normal usage, but it might be better to not do that when run as part

[2019-04-22 13:58] gavanderhoorn opened #7 "Support specifying a custom haros configuration"
The [current implementation](https://github.com/rosin-project/haros_catkin/blob/735a6c6316d9b72754085bc30739accad673354f/cmake/haros_catkin-extras.cmake.em#L17) of the `haros_report` macro takes no arguments, which makes it impossible to ask haros to use a specific configuration -- other than changing the "global" configuration stored in the `$HOME/.haros` repository.

It would be desirable to be

[2019-04-22 15:51] nlimpert commented on #5
We might be able to use `REPORT_DESTINATION` as an environment variable and evaluate it in `haros_catkin-extras.cmake.em` via `$ENV{REPORT_DESTINATION}`.

If it's not available we might stick with the setting as it is currently.

[2019-04-22 15:52] gavanderhoorn commented on #5
Any reason not to go with a named argument to the macro? That's typically how CMake macros are provided with input data.

[2019-04-22 16:02] nlimpert commented on #5
No - using `$ENV{}` was meant as an additional suggestion. But I agree that an argument is the better option.

[2019-04-22 16:04] gavanderhoorn commented on #5
Using the environment could be an option, but for traceability it's less desirable I believe: the "environment" could contain "anything", and typical logs don't reflect what the state of `ENV` was at the time of a run.

Commands invoked can relatively easily be logged, including arguments, and in any case `CMakeLists.txt` containing the invocation would be stored in VCS, facilitating post-mortem d

[2019-04-22 16:38] nlimpert commented on #5
OK I agree. I didn't think of traceability concerns in the first place.
So nevermind.

[2019-05-27 12:00] gavanderhoorn opened #9 "Order of statements in build script"
@ipa-jfh: I seem to remember there was a good reason for this, but I don't remember what it was and I can't find it in comments or the history of this repository, so I'm hoping I can ask you.

Thing is: according to the [readme](https://github.com/locusrobotics/catkin_virtualenv/blob/836c3f71086209d3359e2352c95960e22eb95408/README.md) of `catkin_virtualenv`, there is a certain order to the stateme

[2019-05-27 17:05] Chamango90 commented on #9
Unfortunately, I cannot remember a specific reason  :/

[2019-05-28 07:46] gavanderhoorn commented on #9
Hm, that's unfortunate.

I think I understand why `catkin_destinations()` is called before `catkin_generate_virtualenv()`: the latter uses the variables `set(..)` by the former.

I'm having all sorts of trouble getting the build to succeed in a `ros_buildfarm` prerelease job, so was wondering whether this could be (partly) the cause.

[2019-05-28 09:14] Chamango90 commented on #9
I asked also ipa-mdl, since we worked together on this. He says that it this order is necessary  because `catkin_generate_virtualenv` requires the destinations.

(The readme might be sloppy.)

[2019-05-28 09:16] gavanderhoorn commented on #9
Yes, that's what I wrote in my comment before yours :)

but thanks for the additional input.

[2019-05-28 11:21] Chamango90 commented on #9
Sry I missed to include your latest comment. He added that the pkg depends on the target from `catkin_generate_virtualenv()`.

[2019-05-29 13:49] gavanderhoorn opened #10 "haros_report() in a ros_buildfarm prerelease"
Edit: see updated instructions in https://github.com/rosin-project/haros_catkin/issues/10#issuecomment-498681701.

---

After dealing with locusrobotics/catkin_virtualenv#42, it doesn't seem to get run.

Reproduce with:

 - setup machine to be able to run prerelease jobs (`ros_buildfarm`)
 - create workspace with `catkin_virtualenv`, `haros_catkin` and `haros_catkin_test`
 - follow instructions in

[2019-05-29 13:49] gavanderhoorn commented on #10
@nlimpert: FYI

[2019-05-30 16:38] nlimpert commented on #10
I was trying to get it running since yesterday based on the discussion at https://github.com/locusrobotics/catkin_virtualenv/issues/42 and I guess I had a similar issue like you in that `haros_report` won't be executed by default.

Then I remembered that I actually patched this in [my fork](https://github.com/nlimpert/haros_catkin/commit/5128beb6dd547b75340c53db0940fefb3f2f02e4) to execute `haros_

[2019-05-31 16:43] gavanderhoorn commented on #10
Ah yes, I'd forgotten about the fact that it needs to be added to deps of the `all` target.

Any idea what causes the error?

[2019-06-03 12:07] nlimpert commented on #10
Looks like the error arises because `git` is missing in the `docker_build_and_test` docker container.

`haros` tries to clone https://github.com/git-afsantos/haros_plugins.git which fails because `git` is simply not installed.

When I append `git` to be installed by `apt.py update-install-clean` in `docker_build_and_test/Dockerfile`, then execute the `docker build` and `docker run` parts only for

[2019-06-03 12:09] gavanderhoorn commented on #10
yes.

I don't like submodules, but both the buildfarm and Bloom support them (for something like a year now).

[2019-06-03 12:15] nlimpert commented on #10
Me neither - that's why I consider this to be an ugly solution.
An alternative could be to release a `haros-plugins` package via `pip`.

[2019-06-03 12:31] gavanderhoorn commented on #10
That would be something to ask @git-afsantos.

Does the cloning not happen when it's already present?

[2019-06-03 12:45] nlimpert commented on #10
If the repo is present it will execute `git` anyways to update it (see [here](https://github.com/git-afsantos/haros/blob/45b4bbd0644e4b1edbf4177531ba2b863a3db211/haros/haros.py#L406)).

[2019-06-03 12:48] gavanderhoorn commented on #10
Hm. That complicates things.

Would probably be good to ask @git-afsantos about this.

[2019-06-03 13:19] git-afsantos commented on #10
I do not fully understand all the details of the discussion, but I gather that running `git` to clone/update the plugins is problematic.

What would your preferred approach be, then?

1. Have some sort of option to skip the update, so that you can install the plugins manually/beforehand.
2. Have the option to provide another repo URL, or some form of redirection of the default.
3. Release `haros_p

[2019-06-03 13:23] nlimpert commented on #10
Currently I'd be in favor of option 3 because I think it would allow to define one version of `haros_plugins` to match and work with one version of `haros`.

[2019-06-03 13:30] git-afsantos commented on #10
Makes sense. It requires some changes, but it should not be too hard to implement.

Is it more convenient to you to run `pip` independently, or can it be bundled in `haros`, the same way `git` is right now?
The best option might be to bundle it but not run it by default, and control that via command line options (or vice-versa).

[2019-06-03 13:44] nlimpert commented on #10
Well we're using `haros_catkin` in a [`catkin_virtualenv`](https://github.com/locusrobotics/catkin_virtualenv) which allows to use a `requirements.txt` (see the one defined for `haros_catkin` [here](https://github.com/rosin-project/haros_catkin/blob/735a6c6316d9b72754085bc30739accad673354f/requirements.txt)).
So we don't execute `pip` manually but only define the packages of use within the appropr

[2019-06-03 14:02] git-afsantos commented on #10
Good idea. Adding it to the requirements ensures proper installation, and haros would not have to run anything itself. I will be doing this then. :+1:

[2019-06-03 14:05] gavanderhoorn commented on #10
Thanks @git-afsantos. Much appreciated.

Just for my understanding: you'd release `haros_plugins` as a `pip` package on `pypi` and add it to the `requirements.txt` of `haros`. Correct?

[2019-06-03 14:43] git-afsantos commented on #10
That is right @gavanderhoorn. I am on it right now.

This change has some implications, though:

- developing a new, local plugin is not as simple as creating another package within `~/.haros/plugins` anymore;
- plugins will now be installed in system-default locations, so the plugin discovery mechanism has to change as well.

None of these should matter for your use case, so I will document them

[2019-06-03 14:45] gavanderhoorn commented on #10
`pip` supports *editable* or *development* installations of packages. See [here](https://pip.pypa.io/en/stable/reference/pip_install/#editable-installs).

`pip install --user ..`? This would be the default if installing without `sudo` afaik anyway.

[2019-06-03 14:53] git-afsantos commented on #10
I mean that installing plugins normally via `pip` (e.g. `pip install haros`, with `haros-plugins` as a requirement) will no longer clone a plugin repo into `~/.haros/plugins`.
Thus, the most flexible solution might be a new discovery mechanism.

Users creating new plugins just have to create a new package somewhere (as long as it appears on `sys.path`?) that adheres to this mechanism.
This also en

[2019-06-03 17:05] git-afsantos commented on #10
Just for the record, git-afsantos/haros#63 should implement the `pip` requirement option we discussed above.

I was only able to run a few tests on a machine that already had `haros` installed, but it should work the same on *fresh* setups, since I removed my `~/.haros` directory, for it to go through all the steps.

[2019-06-04 07:57] gavanderhoorn commented on #10
Thanks @git-afsantos! We're getting closer now. I'm running into some other issues (failure to import `rosgraph`), but I believe I know where that is coming from (I think it's basically https://github.com/git-afsantos/haros/issues/40).

[2019-06-04 08:51] git-afsantos commented on #10
`rosgraph` is used exactly once (`rosgraph.names.anonymous_name(name)`) in the launch file parser. If this poses a problem to you, I could duplicate that function and use it as a fallback when `import` fails. Would that be better @gavanderhoorn?

[2019-06-04 09:00] gavanderhoorn commented on #10
No, I'd rather first understand why for some reason the environment doesn't seem to be setup correctly.

[2019-06-04 11:26] gavanderhoorn commented on #10
I'm not entirely certain yet why, but it now appears to "work".

I'll push my changes to the repositories involved so @nlimpert can reproduce, but it now appears that when `run_tests` is invoked, haros is run and generates the report.

[2019-06-04 11:35] nlimpert commented on #10
Sounds very good - as promised I'll take a look asap tomorrow.

[2019-06-04 11:40] gavanderhoorn opened #13 "Add 'run haros as a test' function to CMake extras file?"
This would be similar to how `roslint` works where it adds a dependency to `run_tests` such that it gets run whenever `run_tests` is built.

See [wiki/roslint - Reference](http://wiki.ros.org/roslint#Reference) for how that is used (the `roslint_add_test` entry).

Related code: https://github.com/ros/roslint/blob/6c963f3010c94d4b13123f468ce8ca4844ee20c4/cmake/roslint-extras.cmake.em#L70-L75.

[2019-06-04 11:43] gavanderhoorn opened #14 "At which phase of a build should haros be run?"
This connects to #13.

Right now we either run haros always (by adding it to "the default build target", typically `all` for `Makefile`s) or as part of `run_tests` (or at least: I have that working in my local version).

As haros itself only outputs a report, I'm not sure what would be the best phase of a typical build it should integrated with.

[2019-06-04 11:46] gavanderhoorn commented on #14
We might want to see how rosdoc documentation is part of a build.

It could be it's not and you need to invoke the build of that manually, but it could also be added to another target. I don't remember, it's been a while since I last looked at that.

This ticket is more about the idea of running haros as an inspection tool.

Perhaps looking at which stage the ROS 2 linters are run could provide so

[2019-06-04 11:46] gavanderhoorn commented on #14
@git-afsantos: would you have any input?

[2019-06-04 12:08] gavanderhoorn commented on #5
Picking this up again: `roslint` uses a variable called `CATKIN_TEST_RESULTS_DIR` ([here](https://github.com/ros/roslint/blob/6c963f3010c94d4b13123f468ce8ca4844ee20c4/cmake/roslint-extras.cmake.em#L73)). I'm wondering how that is supposed to work, as apparently that variable has been removed quite some time ago (`ros-sig-buildsystem` discussion [here](https://groups.google.com/forum/#!topic/ros-si

[2019-06-04 12:54] gavanderhoorn commented on #14
Also connected to #11.

[2019-06-04 12:54] git-afsantos commented on #14
Both suggestions work, and it really depends on the workflow. Since haros is being used only as a static analyser, it could (should?) be run with every build (as a compiler would). On the other hand, sometimes the changes from one build to another are small, and people would be more interested in these results "on demand" or "when it makes sense", like tests.

In this specific context, I think the

[2019-06-04 13:54] gavanderhoorn commented on #10
@nlimpert: these instructions should result in a successful haros run in a buildfarm prerelease:

[code]

If you already / still have this set up, the only change is the branch that is used with `haros_catkin`: it's [working_snaphot](https://github.com/rosin-project/haros_catkin/compare/working_snapshot) instead of `master`.

Running `./prerelease.sh -y` results in the report being generated in `c

[2019-06-05 12:21] gavanderhoorn commented on #10
@nlimpert: any luck?

[2019-06-05 12:50] nlimpert commented on #10
Sorry for the late response. I had some appointments to catch up but I have the time to look at this now.
I'll report back asap.

[2019-06-05 13:57] nlimpert commented on #10
Just tried it out on an Ubuntu 16.04 with `python-ros-buildfarm` and `docker` installed.

I get the following:

[code]

Looks like the key is faulty. I'll have a look.

---

Complete log:

<details>
 <summary>prerelease build log</summary>

[code]

</details>

[2019-06-05 15:20] gavanderhoorn commented on #10
Oh, this could be the problem with the recent security breach and the subsequent key changes.

[2019-06-05 16:44] nlimpert commented on #10
I have the same issue in a Ubuntu 18.04 when trying to perform `sudo apt update`:

[code]
However, updating works if I perform the following:
[code]

[The key seems to be quite new](http://ha.pool.sks-keyservers.net/pks/lookup?search=0xF42ED6FBAB17C654&op=vindex)

----
I have created a fork of https://github.com/ros-infrastructure/ros_buildfarm_config at https://github.com/nlimpert/ros_buildfarm_c

[2019-06-06 09:01] nlimpert commented on #13
I actually like the idea of using `haros` as a doc job in terms of being an independent static analysis tool to measure quality.
So I'm not entirely sure whether `haros` should be able to break a build.

[2019-06-06 09:55] nlimpert commented on #5
I'm not sure whether I remember the complete discussion about the actual desired location of reports to be used in the ROS Wiki but I think unless we decided how/where reports would reside to be rendered by the ROS Wiki we might stick with the `CMAKE_CURRENT_BINARY_DIR`.

[2019-06-11 16:16] gavanderhoorn commented on #10
New instructions:

[code]

It would appear even the custom `catkin_virtualenv` fork with `temp_deps` is no longer needed: `rosbash` and `rospack` have been released with updated dependencies, so everything should-just-work.

I'm just using `add_run_tests_dep` for `haros_catkin` so we get #16.

[2019-06-11 16:58] gavanderhoorn commented on #10
Now that this works, I believe we could start preparing an a release of `haros_catkin` on the ROS buildfarm.

The output location of the report should still be changed I believe, but we're tracking that in #5.

[2019-06-11 16:59] nlimpert commented on #10
I'm running this right now and will report once it's done.

[2019-06-11 17:00] gavanderhoorn commented on #10
Just making sure: you started with a "clean machine", correct (ie: removed docker containers and images, `build_isolated`, etc)?

[2019-06-11 17:02] nlimpert commented on #10
Yes.

[2019-06-11 17:40] nlimpert commented on #10
Running the instructions in https://github.com/rosin-project/haros_catkin/issues/10#issuecomment-500915562 leads to the following:

[code]

----

Changing
[code]
to
[code]
leads to the fact that `rosrun` can't be found. :laughing:

So the `ws/src` subfolder for `haros_catkin` worked for you?

[2019-06-11 18:44] gavanderhoorn commented on #10
Hm, I'd forgotten to clone `haros_catkin_test` also into `ws`.

With the new `3.0.0` release of `ros_buildfarm`, the workspace name should be `ws`, not `catkin_workspace`.

Could you try again?

---

and just making sure: you did use the `ros_buildfarm>=3.0.0` `virtualenv`, correct?

[2019-06-11 19:16] gavanderhoorn commented on #10
Next problem: `catkin_virtualenv` is only at version `0.2.0` in Kinetic. We need at least some commits later than that. I've asked whether a release of `0.4.0` for Kinetic would be possible.

[2019-06-11 19:52] nlimpert commented on #10
It seems that I had to execute `pip3 install "ros_buildfarm>=3.0.0"` otherwise it would pipe the output of `pip3 install ros_buildfarm` to a file called `=3.0.0` - thanks for the heads up.
However, the output with this is as follows:
[code]

----

Edit: Sorry, I just noticed that it still had the `ros_buildfarm` environment used in python2. I'll re-run accordingly.

[2019-06-11 20:29] nlimpert commented on #10
After making sure that `ros_buildfarm` is at a version `>=3.0.0` the error with `rosrun` not being available presists, which most probably arises from the fact that `catkin_virtualenv` is too old, as you said.
So thanks for triggering the newer release of `catkin_virtualenv`, I think that should fix this.

[2019-06-11 20:31] gavanderhoorn commented on #10
Interesting. I don't get any errors mentioning `rosrun`.

Could you perhaps check by including `catkin_virtualenv` in the workspace?

[code]

[2019-06-12 07:49] nlimpert commented on #10
Yes that seems to be necessary here. Adding `catkin_virtualenv` to the workspace works.

[2019-06-12 07:53] gavanderhoorn commented on #10
Ok. Then I'm going to assume that a new release of `catkin_virtualenv` will fix all of our issues.

That should have happened, but I can only find the Melodic PR: https://github.com/ros/rosdistro/pull/21515.

Ref: https://github.com/locusrobotics/catkin_virtualenv/issues/44.

[2019-06-14 11:30] gavanderhoorn commented on #10
Creating a workspace with just `catkin_virtualenv` (ie: the just released version for kinetic, as the `rosdistro` PR hasn't been merged yet), `haros_catkin` (current `HEAD`) and the test package results in a successful prerelease build for me with the report generated as part of the `run_tests` target (but see #14).

As such, I'm going to close this issue, as it seems `haros_catkin` is now usable

[2019-06-14 11:30] #10 closed

[2019-06-14 11:31] gavanderhoorn commented on #13
It would be by choice of users, as they'd have to explicitly call `haros_add_test()` in their `CMakeLists.txt`.

[2019-06-14 11:33] gavanderhoorn commented on #9
We haven't cleared up everything, but good enough for now.

Thanks @ipa-jfh for the input.

[2019-06-14 11:33] #9 closed

[2019-06-14 11:37] gavanderhoorn commented on #6
@git-afsantos: would Haros support storing everything in a directory not in `$HOME/.haros`?

I'm guessing the [HarosInitRunner](https://github.com/git-afsantos/haros/blob/2196db1a34c1e862d7640d6d85eb404319f17048/haros/haros.py#L390-L400) would need to be changed?

[2019-06-14 12:00] git-afsantos commented on #6
Indeed, to support alternative directories I would have to make some changes. The single directory approach is something that has been bothering me too for a while.

I am currently fixing some other issues in Haros, so I might tackle this right after.

[2019-06-14 12:03] gavanderhoorn commented on #6
I don't necessarily just want to dump this on your TODO list.

Do you have some ideas for what you'd like to change?

The init runner seems straightforward enough. Adding an additional arg to the `init` verb would probably be sufficient, correct?

All the other verbs would probably also need to be extended to accept an additional arg telling them where the "`.haros`"-dir is (which wouldn't necessa

[2019-06-14 12:14] git-afsantos commented on #6
Since this change affects all verbs, it is probably best for the argument to be passed to the `haros` command itself (like `--debug` is). I.e.,

[code]

In terms of the code itself, the argument would be introduced around [this line](https://github.com/git-afsantos/haros/blob/ebf1bf3b6d23249c716c3d53ce3409b50aa8e067/haros/haros.py#L214), with the default value of `os.path.join(os.path.expanduser("

[2019-06-14 12:35] git-afsantos commented on #6
This line would have to be changed as well:

https://github.com/git-afsantos/haros/blob/ebf1bf3b6d23249c716c3d53ce3409b50aa8e067/haros/haros.py#L139

[2019-06-14 17:58] git-afsantos commented on #6
@gavanderhoorn is your suggestion to place `.haros` somewhere else besides `$HOME`, or to use some other directory *in place* of `.haros`? I.e., `/path/to/.haros` versus `/just/some/path`?

The latter requires a little bit more work to implement.

[2019-06-14 19:37] git-afsantos commented on #6
https://github.com/git-afsantos/haros/pull/71 is a candidate PR to implement this.
It implements the easier *create `.haros` in the given dir* option.

[2019-06-15 12:51] gavanderhoorn commented on #6
the latter.

But the former could be a work-around for now.

[2019-06-15 16:54] git-afsantos commented on #6
https://github.com/git-afsantos/haros/pull/71 has been updated. The directory given to `--home` will be used directly in place of `~/.haros`.

Additionally, `init` is not needed anymore, unless you want to *force* the expected structure of `.haros` (i.e., overwrite files if needed). I will probably deprecate and remove this verb at some point.

---

Released in Haros 3.5.0.
BTW, this is yet untest

[2019-06-24 13:12] gavanderhoorn commented on #6
As I mentioned in the meeting we just had: this wasn't directly related to running multiple Haros instances in parallel, but it should make it possible, yes, and that is actually going to help quite a bit later on.

Primary motivation was to be able to put the `.haros` dir in the `build` space of a workspace so we don't accidentally reuse a `.haros` from another run.

[2019-06-24 15:18] gavanderhoorn commented on #6
@git-afsantos: I'm using Haros with git-afsantos/haros#71 (ie: v3.5.2) and the initial `init` seems to work.

But a subsequent `analyse` throws errors:

[code]

all directories exist and `/tmp/ws/build_isolated/test_pkg/haros_home` seems to contain the expected content.

Any ideas?

PS: would you want me to open an issue on the haros tracker?

[2019-06-24 16:30] git-afsantos commented on #6
Wow, you ran into two bugs at once! Good catch!

So, basically, it was looking for the default `$HOME/.haros/index.yaml`, despite the use of `--home`.
Haros 3.5.4 :ship: should fix that. :bug: :hammer:

[2019-06-24 16:33] gavanderhoorn commented on #6
Nice. I'll test. Thanks for the quick fixes.

Btw, I noticed that the github repo [releases page](https://github.com/git-afsantos/haros/releases) doesn't appear to list all releases that pypi has. Is that intentional?

[2019-06-24 16:36] git-afsantos commented on #6
That is just me remembering the existence of that page only when I have a somewhat major release on my hands. Thanks for the reminder, I should update it sometime soon. :+1:

[2019-06-24 16:40] gavanderhoorn commented on #6
Seems to work now, but I'm seeing `[HAROS] Running setup operations...` twice.

Afaict I `init` the same directory as I use for `--home`. Is `init` automatically invoked by the other verbs/commands?

[2019-06-24 17:04] git-afsantos commented on #6
Yes, when I added the `--home` option, `init` [basically became obsolete](https://github.com/git-afsantos/haros/blob/master/CHANGELOG.md#changed-4). You should not need it, unless you want to *force a reset* on the directory.

[2019-06-25 15:37] gavanderhoorn commented on #6
I'm not entirely sure yet, but I believe *not* running `init` separately results in another traceback.

I'll verify and report back.

[2019-06-25 15:46] git-afsantos commented on #6
Ah, I see. Given your command above, it is probably complaining with

I should be able to fix that soon.

[2019-06-25 15:48] gavanderhoorn commented on #6
Yes, indeed. That's the error:

[code]

[2019-06-25 16:26] git-afsantos commented on #6
Haros 3.5.5 should fix that :ship:

[2019-06-25 16:37] gavanderhoorn commented on #6
Yep, fixed.

Thanks again.

[2019-08-17 19:34] nlimpert commented on #7
I think https://github.com/git-afsantos/haros/pull/74 would be required to allow this (hence the PR).

[2019-08-28 12:28] nlimpert commented on #14
I found [this entry on ROS Answers](https://answers.ros.org/question/329338/is-code-analyzer-supported-in-ros_buildfarm/) in which Dirk Thomas states the following:
"[...] in ROS 2 any kind of linters are integrated on a per-package level. So when you run the tests of a package you also run any kind of linter available [...]".

So I guess it's a good idea to adhere to this procedure and do the sam

[2019-08-28 12:50] gavanderhoorn commented on #14
Hm, that is a nice find.

I've not looked at how those linters are integrated. Would you know?

[2019-08-29 10:07] nlimpert commented on #14
No not yet. [This](https://ubuntu.com/blog/how-to-add-a-linter-to-ros-2) seems to be a nice introduction which looks like it boils down to:

1. Create a ROS package to contain the linter including `setup.py` and the appropriate python script to execute the linter and return an appropriate value. This can for example also be an invocation of `clang-format` - see [here](https://github.com/ament/amen

[2019-09-02 10:06] gavanderhoorn opened #21 "Add some form of CI"
Could probably run analysis on some package, perhaps even [haros_catkin_test](https://github.com/ipa-jfh/haros_catkin_test).

That would give us an idea of whether any changes in PRs break something.

[2019-09-02 11:17] nlimpert commented on #21
Sounds good - would you think of Travis?

Using Travis requires owner permissions of a GitHub repository afaik.

[2019-09-02 11:25] gavanderhoorn commented on #21
Yes. More specifically, just using [industrial_ci](https://github.com/ros-industrial/industrial_ci).

Just to enable the hooks. After that it's not needed.

I've just enabled it for this repository.

[2019-09-02 11:40] gavanderhoorn commented on #5
This can now be configured using the argument parsing added in #19.

[2019-09-02 11:40] #5 closed

[2019-09-02 11:41] gavanderhoorn commented on #6
This is now supported in Haros, and we can configure it in `haros_catkin` now that #19 was merged.

[2019-09-02 11:41] #6 closed

[2019-09-02 11:41] gavanderhoorn commented on #7
Supported now in Haros and in `haros_catkin` (with the merge of #19).

[2019-09-02 11:41] #7 closed

[2019-09-02 13:23] gavanderhoorn opened #23 "Add/document plain-Jenkins integration"
Lifting this to a stand-alone issue here (from https://github.com/ros-infrastructure/ros_buildfarm/issues/596#issuecomment-526015764):

@max-krichenbauer wrote:

[2019-09-02 13:29] gavanderhoorn opened #24 "Create a ROS 2 linter integration"
Would/Should not end up in this repository, but a good thing to initiate/track on this tracker.

For ROS 2 integration we'd need to create a new linter package.

Lifting @nlimpert's comment from https://github.com/rosin-project/haros_catkin/issues/14#issuecomment-526118974:

[2019-09-03 06:03] max-krichenbauer commented on #23
Thank you for offering this place to discuss and track the proposal.

For now I have started to work JUnit XML format output for HAROS, since it seems necessary to have it anyways for using HAROS in a linter package.

Then we can also use either the yaml output or the JUnit XML output to display test results in Jenkins / the build farm.
JUnit XML could be considered be more "clean" or "following c

[2019-09-03 06:05] max-krichenbauer commented on #24
Thank you!
For now I have started to work on adding JUnit XML format output for HAROS, since it relates to the other topic.

[2019-09-04 05:58] max-krichenbauer commented on #24
Here is the PR for a first implementation of JUnit XML format output:
https://github.com/git-afsantos/haros/pull/79

[2019-09-04 05:59] max-krichenbauer commented on #23
Here is the PR for a first implementation of JUnit XML format output:
https://github.com/git-afsantos/haros/pull/79

[2019-09-05 01:12] max-krichenbauer commented on #24
Reading through the tutorial @nlimpert shared, I found two issues that I'd like to ask about:

1) it needs capabilities for excluding directories with ``AMENT_IGNORE``
I don't think HAROS has this yet. I can offer making a PR to HAROS to add it as a feature.

2) ~~HAROS needs to be in [ROSDistro](https://github.com/ros/rosdistro) so it can be a dependency for the package. Has is already been submi

[2019-09-05 07:36] gavanderhoorn commented on #24
I believe you are confusing `distribution.yaml` with the `rosdep` db.

`distribution.yaml` is only for ROS packages, which `cppcheck` is not. `cppcheck` does have [a rosdep key though](https://github.com/ros/rosdistro/blob/6c20fd7b4dfaf5878cf53ba4d70f0e7bec202eb6/rosdep/base.yaml#L519-L527), which is sufficient for `rosdep` to be able to install it when a ROS package depends on it.

So Haros would

[2019-09-05 07:53] max-krichenbauer commented on #24
Ahh, thanks - that clears things up!

In the meantime, I've written the ``ament_haros`` and ``ament_cmake_haros`` packages for local testing, but have run into several issues with HAROS there.
Basically, it seems like HAROS can't handle ROS2 workspaces (relying on ``ROS_WORKSPACE``, not finding ``CMakeLists.txt`` correctly, not respecting ``AMENT_IGNORE`` ...).

Is it intended to add ROS2 support

[2019-09-05 08:05] gavanderhoorn commented on #24
https://github.com/git-afsantos/haros/issues/32.

I don't think this is something that should be done by the tool. We cannot expect every tool to understand ROS workspace semantics, so this seems like a strange requirement.

Haros is of course somewhat different, in that its purpose is to parse and work with ROS workspaces, but even then we might want to see whether it'd be better to delegate it t

[2019-09-05 08:27] max-krichenbauer commented on #24
I see. Thank you so much for your explanation!

So could a next logical step then be a PR to HAROS to add a feature manually select the CMakeList.txt files?
Then ``ament_haros`` (or ``haros_catkin``) could take care of the parsing and selection process.

[2019-09-05 08:29] gavanderhoorn commented on #24
We might benefit from some input from @git-afsantos here.

Haros does not only parse `CMakeLists.txt`. Perhaps getting it to parse a certain list of directories might make sense, but lets see what @git-afsantos thinks.

[2019-09-05 08:58] git-afsantos commented on #24
I think I might need some more context. What is the purpose of `AMENT_IGNORE`? Is it to ignore packages within a workspace, or to ignore directories within a package?

True. I have not worked with (or aiming for) ROS2 yet, neither will I until I conclude my PhD.

@gavanderhoorn

What do you mean? Do you mean providing Haros the list of directories that is supposed to contain packages (and then let

[2019-09-05 09:05] gavanderhoorn commented on #24
It's essentially the `CATKIN_IGNORE` of Ament. But to make it confusing, Ament also 'respects' `CATKIN_IGNORE`s ;)

As to what it does: it's slightly more nuanced: encountering a `(CATKIN|AMENT)_IGNORE` will cause that directory (and all its sub directories) to be ignored, completely. So not just packages, but everything.

If you place such a file in a directory containing a package, the result wi

[2019-09-05 09:18] git-afsantos commented on #24
Ok. I do not think Haros even respects the catkin version, so it might make for a good addition.

So this implies two filters. Discarding packages within such directories, and discarding source files as well (e.g. `AMENT_IGNORE` within `pkg/src/test_code`).

I think Haros only ignores a few hard-coded directories currently (`.git`, `doc`, `bin`, ...). So, any `*_IGNORE` directory would have to be

[2019-09-05 23:22] max-krichenbauer commented on #24
Thank you for the comments!

As far as I understand, you would not need both features though, right?

If HAROS respects ``(CATKIN|AMENT)_IGNORE`` and understands the ROS2 workspace structure, there's no need to supply the list of files and folders manually.

If you supply the list of folders manually, whichever tool inputs the files/folders can take care of that.

Personally, I would go with the f

[2019-09-06 06:40] git-afsantos commented on #24
Yes, I believe that is correct.

This is my preference as well. :+1:
For me, HAROS was always intended to understand ROS-specific details. That is what sets it apart from a general-purpose tool.

[2019-09-06 06:59] max-krichenbauer commented on #24
Thank you for the clarification!

I understand that you're currently busy with your PhD.
I might have time to work on this (and other issues) this month, but it would be important to know that such a contribution is actually welcome, going in the right direction, and has a chance to be merged in the near future.
If you rather want to do it yourself I can understand that as well.
Please let me know

[2019-09-06 07:42] git-afsantos commented on #24
@max-krichenbauer Indeed, I am now nearing the final months/semester of my PhD. During this time, it is likely that I will not pick this up for implementation. If you want to go ahead and try it, you are most welcome to do so. :+1:

[2019-09-06 07:58] max-krichenbauer commented on #24
Thanks and good luck with your graduation!
When is the graduation planned?

Then I will see if I can patch together at least minimal support for ROS2.
If I make a PR, would you consider it?

[2019-09-06 08:27] git-afsantos commented on #24
Thanks, @max-krichenbauer! We do not have a precise date yet, as I am still about to finish my last *implementation work* (property-based testing and runtime monitoring), and then I have to write it all down. I expect early 2020.

Sure, that would be great! Even when I do not implement things myself, I always try to fix bugs and review PRs as soon as possible.

[2019-09-09 00:44] max-krichenbauer commented on #24
Thanks! Happy to hear that. Then I'll get to work on it.
In the meantime, could you please have a look at https://github.com/git-afsantos/haros/pull/79 and let me know if there's any problem with it?

[2019-09-09 08:57] max-krichenbauer commented on #24
I started working on adding compatibility for ROS2 workspaces here:
https://github.com/esol-community/haros/commit/6dcb4e15d4b230e339f2e78590ec4996f0f9b345

One issue I'm having is that pure Python ROS2 packages don't necessarily seem to have a ``CMakeLists.txt`` file. Then, the Python files also don't show up in the analysis result.
I'd be happy for any input on the topic.

[2019-09-09 09:00] gavanderhoorn commented on #24
My first suggestion would be to not try to merge ROS 1 and ROS 2 workspace handling, as I believe you are trying to do now (removal of `rospkg` use and similar changes).

From a quick look it seems that would introduce a lot of new code, which seems like an anti-pattern to me, as that would seem to duplicate functionality already present in `rospkg` and other similar libraries available in ROS 1.

[2019-09-10 00:15] max-krichenbauer commented on #24
``rospkg`` doesn't support ROS2 and I don't know of any ``rospkg2`` development, so at least for now it's up to us to provide that functionality.
https://github.com/ros-infrastructure/rospkg/issues/174

AFAIK ROS2 (colcon) can also handle catkin and there is some degree of ROS1-ROS2 compatibility/interoperability.

So even if you see this as preparation for a "HAROS2" version for ROS2, I think the

[2019-09-10 07:02] gavanderhoorn commented on #24
my suggestion was to factor out the ROS 2 specific parts into a separate file, and use runtime detection and/or a command line option to force Haros to expect a specific version.

Colcon can build ROS 1 packages, yes. That does not mean we should merge everything into on big `if-else` tree though.

My point was that it seems like you're removing `rospkg` calls, and then replacing them with an equi

[2019-09-10 09:11] max-krichenbauer commented on #24
I see your point.
My worry is that ``rospgk`` is actually detecting ROS1 workspaces within ROS2 workspace temporary / build files. And since HAROS is only using one single function from RosPack I thought it reasonable to provide a ROS1/ROS2 aware version here.
Of course we can also add more command line options to be explicit.

[2019-09-10 23:26] max-krichenbauer commented on #24
Here is the ``ament_haros`` ROS2 linter integration package that I'm working on.
https://github.com/esol-community/ament_lint/tree/ament_haros
It's not finished and obviously contains some work-arounds, but the basic concept seems to be working.

[2019-09-12 04:19] max-krichenbauer commented on #24
@gavanderhoorn
I updated the code again: in ROS1 environments, ``rospgk`` is again used, in ROS2 environments, ``colcon`` is used. This way there is no code duplication.
I created a PR here: https://github.com/git-afsantos/haros/pull/83

[2019-09-13 01:27] max-krichenbauer commented on #24
The ROS2 linter integration ``ament_haros`` is finished.
https://github.com/esol-community/ament_lint/tree/ament_haros

### How to use:

**1: Download, build and set up environment:**
_(Should not be necessary anymore if it makes it into the official repo._

    # Install haros and haros-plugins:
    pip install haros haros-plugins

    # In your ROS2 workspace:
    git clone -b ament_haros --dept

[2019-09-13 06:58] git-afsantos commented on #24
@max-krichenbauer Thanks for the contribution! I do not really have any experience with ROS 2, so I cannot comment much on that, but the steps you provide seem simple enough.

I have merged git-afsantos/haros#84, and git-afsantos/haros#83 is just waiting on a couple of comments.

[2019-09-17 07:50] gavanderhoorn commented on #24
@max-krichenbauer: nice. This looks good. I'll try to take a look later this week.

:+1:

[2019-09-19 21:44] nlimpert commented on #21
A short update on this:

My [first try](https://github.com/nlimpert/haros_catkin/blob/79c54bdd5ccdab910a966359874c101b2d6b1ad5/.travis.yml#L26) to execute `haros_report` for the `test_pkg` of `haros_catkin_test` won't execute the macro as our current setup expects `haros_report` to be a `catkin-make-arg` and not a `cmake-arg`.
However, `industrial_ci` won't allow setting a `catkin-make-arg` (yet).

[2019-09-20 07:04] gavanderhoorn commented on #21
I'm not sure this is actually true.

The [target added to the build](https://github.com/rosin-project/haros_catkin/blob/3447642e4cb7eaf0e3fda55ed9b928463545da40/cmake/haros_catkin-extras.cmake.em#L8) in the end gets translated into a regular `make` target, so it should be runnable by just doing something like `make haros_report` (in the correct build dir).

[2019-09-20 08:20] nlimpert commented on #21
Thanks for the notice! You were right - it's executable as a `make` target. I have [added this](https://github.com/nlimpert/haros_catkin/blob/6b1fcc9a0c98346fc8a62f866ff4bd88e74249ea/test_haros_report.sh) in a script executed as `AFTER_SCRIPT`.

I'll create a PR asap.

[2019-09-22 13:36] #21 closed

[2019-09-23 12:54] nlimpert commented on #24
Hi @max-krichenbauer - thanks for your work! I didn't have the time yet to try out your setup - I'm building ROS2 right now to try it out though.

I was thinking that it might be applicable to introduce a testing package like [`haros_catkin_test`](https://github.com/ipa-jfh/haros_catkin_test) for your work in ROS2. The `haros_catkin` package is used to check `haros_catkin`'s functionality by invok

[2019-09-24 08:26] max-krichenbauer commented on #24
Thank you for your comment @nlimpert
I'm not familiar with CI integration yet and just started reading reading the documentation at https://github.com/ros-industrial/industrial_ci
but for now I put together a quick test package at [esol-community/ament_lint/ament_haros_test](https://github.com/esol-community/ament_lint/tree/ament_haros/ament_haros_test) which builds and can be tested through colco

[2019-09-24 13:27] nlimpert commented on #24
Hi @max-krichenbauer,

I'd consider the two files not needed for now so I guess your package `ament_haros_test` looks good! However I wouldn't consider this to also be part of the `ament_lint` repo but another external repository.

In turn I wonder whether the packages `ament_haros` and `ament_cmake_haros` are also needed in the `ament_lint` repo (sorry if this input comes kind of late - if we'd p

[2019-09-25 00:12] max-krichenbauer commented on #24
Thanks @nlimpert for checking it out.

Not an effort at all to move it into a different repo. I just put it to make sure it integrates well into the other ROS2 linters.

About the `FileNotFoundError`, sorry that is strange and should not happen.
I means that for some reason HAROS did not produce an XML output file.
I'll investigate it, but if you have time, can you please check if after running it

[2019-09-25 08:52] nlimpert commented on #24
`tree /tmp/ament_haros`
<details>
  <summary>Click to expand!</summary>

[code]

</p>
</details>

---------------

I've just installed ROS Dashing in an Ubuntu 18.04 VM (to check whether the Fedora setup might be of reason for the failure). Currently I won't get a HAROS report either in this setup but the error message differs:
[code]

Running `diff` on the two `tree` results in the following (not

[2019-09-25 09:09] max-krichenbauer commented on #24
@nlimpert  Thanks for the test!

The differences in the error message (and file tree) are because I updated the `ament_haros` repo today. Sorry for the confusion.

It seems like HAROS silently fails on your system before it can generate any output.
My guess is a missing dependency.
Can you try `pip install haros haros-plugins`?
It won't use that version of HAROS because of the git download to `/tm

[2019-09-25 09:22] nlimpert commented on #24
Thanks for the note on installing `haros` and `haros-plugins` via `pip` - apparently this helped in terms of no errors occured. The content of `build/ament_haros_test/test_results/ament_haros_test/haros.xunit.xml` now looks like this:

[code]

`/tmp/ament_haros/haros_data` seems to contain the actual HAROS output :+1:
Note that this was again tested on the Fedora 29 setup.

[2019-09-25 09:30] max-krichenbauer commented on #24
Great! Thanks!
I'll update my comment above accordingly, but after all it's a temporary exception. Later, the package requirement should take care of that, right?

[2019-09-25 09:37] nlimpert commented on #24
Yes - actually if we're following the way of leaving the `ament_haros` and `ament_cmake_haros` in the `ament_lint` repo then we won't have to worry about this.
If, however, we consider those to be part of another repo we would have to follow the usual way of releasing the package (following the rules to do so). See [this PR](https://github.com/ros/rosdistro/pull/22146) for example.

-------

Looki

[2019-09-25 09:44] max-krichenbauer commented on #24
To be honest, I haven't yet fully grasped how the `haros` requirement is met in `haros_catkin` either.
I was going of @gavanderhoorn 's comment that

and just assumed it would eventually be possible to just add a dependency on `haros` in `package.xml` and `CMakeLists.txt`.

But I'll look into it now to get a better understanding of the process.

[2019-09-25 09:56] nlimpert commented on #24
`haros_catkin` currently uses a [`requirements.txt`](https://github.com/rosin-project/haros_catkin/blob/d04963766f76bb29be732f7cf91a53920bdc1d9b/requirements.txt) which is read by [`catkin_virtualenv`](https://github.com/locusrobotics/catkin_virtualenv) which in turn creates a python virtualenv for `haros_catkin` and in there installs whatever is found in the `requirements.txt` via `pip`.

Note th

[2019-09-25 10:22] max-krichenbauer commented on #24
I see. Thank you!
From looking at the code of `catkin_virtualenv` it seems like it really just creates a python virtualenv and installs the requested packages.
If there is no `ament` version of it, we can do it directly in `ament_haros`'s `main.py`.
Of course it "feels more clean" if we use another (officially sanctified) package, but the result should be the same, or am I mistaken?

[2019-09-26 01:22] max-krichenbauer commented on #24
I found that for ROS2, providing 3rd-party software is commonly achieved through `_vendor` packages.

For example:
For [`libyaml`](https://github.com/yaml/libyaml) there is [`ros2/libyaml_vendor`](https://github.com/ros2/libyaml_vendor), a pure CMake package that will download, build and install `buildyaml`.
It is available as a [ROS2 package](https://index.ros.org/p/libyaml_vendor/#dashing) (repo

[2019-09-26 11:46] nlimpert commented on #24
Thanks for the info on the `_vendor` packages - I wasn't aware of this.
If I understood correctly the `_vendor` packages seem to be used in order to fulfill dependencies that are to be installed via `CMake` - so I guess providing a virtualenv for such an environment would probably end up in an implementation of `caktin_virtualenv` for `ament` (as `catkin_virtualenv` seems to be `CMake` based).

I'

[2019-09-26 23:17] max-krichenbauer commented on #24
Thanks for the explanation!
My experience in ROS development is too limited to understand which is the best way to do it.
(Personally, my instinct would be to just check and ensure that HAROS is installed directly in the package - adding *_vendor or *_virtualenv package seems like another layer of abstraction and complexity that can potentially fail).
I'll look into `catkin_virtualenv` and try to

[2019-09-27 07:59] max-krichenbauer commented on #24
After looking into `catkin_virtualenv`, I'm worried that porting it to `ament` might involve a lot of work.

Firstly, `catkin` and `ament` are sufficiently different that there are almost no direct replacements for functions like `catkin_install_python`. In fact, in `ament` handling Python projects and handling `cmake` projects are separated by build type. So the `setup.py` also works quite differ

[2019-09-27 08:11] nlimpert commented on #24
Thanks for the investigation! I considered that maybe the maintainers of `catkin_virtualenv` might be interested in a port to `ament` as well so we might also create an issue on their repository, so they could join the discussion and collaborate.

Then they could also decide whether the port would be too much effort and/or there are other ways of solving this. What do you think?

[2019-09-27 08:13] max-krichenbauer commented on #24
@nlimpert Yes, of course, we can ask. Do you want me to start the conversation?

[2019-09-27 08:19] nlimpert commented on #24
That would be great as I think you're more familiar with the actual workflow of `catkin_virtualenv` than I am (at least because you investigated the workflow recently).
But maybe we can wait for @gavanderhoorn whether he thinks that we're going into the right direction in general.

[2019-09-27 08:39] max-krichenbauer commented on #24
I started a discussion [here](https://github.com/locusrobotics/catkin_virtualenv/issues/47).

[2019-10-02 09:08] max-krichenbauer commented on #24
@nlimpert
I started working on an `ament` port of `catkin_virtualenv` over at https://github.com/esol-community/ament_virtualenv
I don't have a lot of confidence that it's working as intended. Feedback would be appreciated (over at https://github.com/locusrobotics/catkin_virtualenv/issues/47#issuecomment-537405186 )

[2019-10-07 11:45] nlimpert commented on #24
Apologies for the late response - I haven't been able to look into your progress yet but your work looks very promising! I will try out your work as soon as possible.

[2019-12-04 23:36] max-krichenbauer commented on #24
Update on the whole situation:
[ament_virtualenv](https://github.com/esol-community/ament_virtualenv) is finally available on rosdistro and the build farm, so the basic means for a linter package using HAROS can be satisfied.
[ament_haros and ament_cmake_haros](https://github.com/esol-community/ament_lint/tree/ament_haros) are also working,
but is still using a manual download of HAROS from github

[2020-01-22 00:39] max-krichenbauer commented on #24
Belated update:
[`ament_haros`](https://github.com/esol-community/ament_lint/tree/ament_haros) now properly uses `ament_virtualenv` and pip to use HAROS.
So I guess the development was completed and this issue can be closed.